footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  font-size: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.footer-icons__desc {
  margin-top: 5px;
  font-weight: bold;
  transform: scale(0.8);
}

.footer-icons__img {
  width: 30px;
}
