main {
  padding: 30px 20px 30px 20px;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 20px 0 20px 0;
}

.item-list__img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list__img img {
  width: 50px;
}

.item-list__info {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.item-list__info div {
  margin-top: 10px;
}

.item-list__info-meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.3);
}

.item-list__info-price {
  font-weight: bold;
}

.write-btn {
  background-color: var(--button-primary);
  color: white;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  border-radius: 25px;
  position: fixed;
  bottom: 120px;
  right: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.write-btn:hover {
  background-color: var(--button-hover);
}
