/* 헤더바 */
header {
  margin-top: 10px;
  border-bottom: 1px solid #ededef;
  padding-bottom: 10px;
}

/* 인포바 */
.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.info-bar__time {
  font-size: 12px;
  font-weight: bold;
}

.info-bar__icons img {
  width: 15px;
}

/* 메뉴바 */
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.menu-bar__location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-left: 10px;
}

.menu-bar__location img {
  width: 15px;
}

.menu-bar__location-icon {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar__icons img {
  width: 25px;
  margin-right: 10px;
}
